*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.tabellaAuto{
    width: 345px;
    margin: 25px auto;
    border-spacing: 15px;
}

.tabellaAuto td, .tabellaAuto th{
    width: 150px;
    height: 25px;
    box-shadow: 1px 1px 3px 2px rgb(223, 223, 223);
    text-align: center;
}

.formInput{
    width: 345px;
    display: table;
    margin: 30px auto;
    
}

.inputDati, .btnInvio{
    border: 1px solid rgb(214, 213, 213);
    height: 35px;
  margin-inline: 13px;
    
}

.inputDati{
    width: 220px;
    border-radius: 5px  ;
}

.btnInvio{
    background-color: rgb(255, 255, 255);
    width: 70px;
    border-radius:  5px ;
}

h2{
    text-align: center;
}

